body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav a{
    color: #ffffff;
    text-decoration: none;
    margin: 0 20px;
}

main{
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1{
    color: #333333;
}

p{
    color: #666666;
}

form{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}